.border{
  border: solid 1px red;
}

#imgCharacter{
  height: 50px;
  width: 50px;
}

#sortNavComponent{
  margin-top: 10px;
  margin-bottom: 10px;
}

#lblChars{
  font-size: 26px;
  font-weight: bold;
}
