<section id="sortNavComponent">
    <div class="container-fluid">
      <div class="row">
        <div class="col-5 col-lg-9">
          <div class="row">
            <div class="col-2 text-right align-self-center ">
              <img id="imgCharacter" src="assets/images/characters.png">
            </div>
            <div class="col-10 text-left align-self-center ">
              <div id="lblChars" class="hidden-md-down">Caracters</div>
            </div>
          </div>
        </div>
        <div class="col-7 col-lg-3 text-right ">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
