header{
  background-color: #2D2727;
  -webkit-box-shadow: -1px 8px 12px -7px rgba(0,0,0,0.54);
  -moz-box-shadow: -1px 8px 12px -7px rgba(0,0,0,0.54);
  box-shadow: -1px 8px 12px -7px rgba(0,0,0,0.54);
}

.border{
  border: solid 1px yellow;
}

#imgLogo{
  width: 145px;
  min-height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#txtSearch{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 75%;
  height: 55px;
  font-size: 20px;
  color:#424242;
  padding: 15px;
  border-radius: 4px;
}

.logo-align{
  text-align:text-center;
}

#txtSearchContainer{
  margin-right: 12px;
}

#imgSearch{
  height: 35px;
  width: 35px;
  margin-left: -40px;
  margin-top: -5px;
}

@media (max-width: 770px) {
  #txtSearch{
    width: 100%;
  }
}
