#imgBtnClose{
  width: 20px;
  height: 20px;
  margin-bottom: 20px;
}

.modal-title{
  font-size: 16px;
  margin-bottom: 10px;
}


#img-comic{
  width:100%;
  height: auto;
  margin: auto;
}



#comic-description{

  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  line-height: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  font-size: 14px;
}

#left-modal{
  background-color: rgb(240,240,240);
}

#left-modal:hover{
  cursor:pointer;
}

#right-modal{
  background-color: rgb(220,220,220);
}

.img-modal-left{
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

#lblRight{
  color:rgb(236,29,35);
}

.modal-option-container{
  padding: 10px;
  color:rgb(114,105,106);
  font-weight: bold;
  font-size: 14px;
}


@media (max-width: 550px) {


}
