<header-component (searchEvent)='onNotifySearch($event)'></header-component>
<section id="homeSection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-lg-9">
        <div class="row">
          <div class="col-12">
            <sortnav-component></sortnav-component>
          </div>
          <div class="col-12 noPadding">
            <cardlist-component [searchFilter]="searchFilter"></cardlist-component>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-3">
        favorites
      </div>
    </div>
  </div>
</section>
