<section id="headerComponent">
  <header>
    <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-2 text-center">
            <div><img id="imgLogo" src="assets/images/Marvel-Logo.png"></div>
          </div>
          <div class="col-xs-12 col-md-8 text-center align-self-center">
            <input id="txtSearch" type="text" placeholder="Search character..">
            <img id="imgSearch" src="assets/images/search.png">
          </div>
          <div class="col-xs-12 col-md-2 hidden-md-down"></div>
        </div>
    </div>
  </header>
</section>
