<section id="footerSection">
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-1 hidden-md-down">
        </div>
        <div class="col-12 col-lg-5 align-self-center text-center">
          <div id="lblGrabDesc">Grability 2016 - Todos los derechos reservados </div>
        </div>
        <div class="col-12 col-lg-5 align-self-center text-center">
          <div><img id="imgGrabLogo" src="/assets/images/grability-logo.png"></div>
        </div>
        <div class="col-12 col-lg-1 hidden-md-down">
        </div>
      </div>
    </div>
  </footer>
</section>
