<section id="cardlistSection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 noMargin noPadding cardContainer" *ngFor='let character of characters'>
        <div class="container card ">
          <div class="row">
              <div class="col-xs-12 col-md-7 text-center text-sm-center noMargin noPadding ">
              <img class="imgCharacter rounded-circle" src='{{character.thumbnail.path + "." +  character.thumbnail.extension}}'>
            </div>
              <div class="col-xs-12 col-md-5 noMargin noPadding ">
              <div class="row leftRowDesc">
                <div class="col-12 text-center text-sm-left">
                  <div class="lblCharName">{{character.name}}</div>
                </div>
                <div class="col-12 text-center text-sm-left">
                  <div class="lblCharDesc">{{character.description}}</div>
                </div>
                <div class="col-12 text-center text-sm-left">
                  <button class="btn btn-primary">
                    View more
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="lblRelatedContainer">
                <span id="lblRelated">Related comics</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
