.card{
  border:solid 1px white;
  background-color: white;
  color:black;
  margin: 2px;
  border-radius: 0px;
  margin-top: 40px;

}

#lblChars{
  color: rgb(60,50,49);
  font-size: 18px;
}

.border{
  border:solid 1px red;
}

.imgCharacter{
  -webkit-box-shadow: 3px 3px 34px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 34px -3px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 34px -3px rgba(0,0,0,0.75);

  margin-top: -20px;

  width: 100%;

  margin-left: -60px;

}

.lblCharName{
  font-size: 24px;
  font-weight: bold;
  color:rgb(60,50,49);
  margin-top: -25px;
}

.btn-primary{
  background-color: RGB(236,29,35);
}

.lblCharDesc{
  color:rgb(60,50,49);
}

.leftRowDesc{
  margin-left: -40px;
}

.lblRelatedContainer{
  margin-top: 20px;
  margin-bottom: 20px;
}

#lblRelated{
  font-size: 20px;
  font-weight: bold;
  color:rgb(60,50,49);
  margin-left: 10px;
}

@media (max-width: 580px) {

  .imgCharacter{
    width: 80%;
    margin-left: 0px;
    margin-top: -20px;
  }

  .leftRowDesc{
    margin-left: 0px;
  }

}

@media (max-width: 767px) {
  .lblCharName{
    margin-top: 0px;
  }

  .leftRowDesc{
    margin-left: 0px;
  }
}
