<section id="favoritesSection">
  <div class="container-fluid">
    <div class="row">

      <div class="col-12 text-center align-self-center">
        <div class="flexBox">
          <img id="img-icon" src="assets/images/favourites.png">
          <div id="lblFav">My favourites</div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-12 favoriteItem" *ngFor="let favorite of favorites">
          <div class="container-fluid">
            <div class="row">

              <div class="col-12 text-right">
                <div class="img-picture-container">
                  <img class="img-garbage" src="assets/images/btn-delete.png" (click)="deleteFavorite(favorite.id)">
                  <img class="img-picture" src="{{favorite.thumbnail}}">
                </div>
              </div>

              <div class="col-12 text-center">
                <h4>{{favorite.title}}</h4>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
</section>
